* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
    display: flex;
    background: #b1ad84;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    max-width: 800px;
    max-height: 730px;
    border-radius: 2%;
    margin: auto;
    font-size: 30px
}

table {
  border-collapse: collapse;
  margin: auto;
}

td {
    background-color: #fff;
    border: 5px solid#b1ad84;
    font-size: 30px;
    color: #fff;
    border-radius: 2%;
}

#player {
  padding: 1rem;
}

body {
    display: flex;
    background: #fff;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

form {* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
    display: flex;
    background: grey;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    max-width: 800px;
    max-height: 730px;
    border-radius: 2%;
    margin: auto;
    font-size: 30px;
    position: relative;
    left: 20px;
}

.ext {
    font-family: "Lucida Console", monospace;
}

table {
  border-collapse: collapse;
  margin: auto;
}

td {
    background-color: #fff;
    border: 5px solid grey;
    font-size: 30px;
    color: #fff;
    border-radius: 2%;
}

#player {
  padding: 1rem;
}

body {
    display: flex;
    background: #fff;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

form {
    position: relative;
    right: 50px;
    top: 50px;
}

select {
    position: relative;
    bottom: 40px;
    left: 50px;
    font-size: 30px;
    min-width: 70px;
    height: 50px;
}

#save {
    position: relative;
    left: 2px;
    top: 130px;
    font-size: 25px;
    width: 70px;
    height: 40px;
    margin: 0;
    font-family: "Lucida Console", monospace;
}

#btn {
    position: relative;
    left: 2px;
    top: 130px;
    font-size: 25px;
    width: 70px;
    height: 40px;
    margin: 0;
    font-family: "Lucida Console", monospace;
}

#menu1 {
    width: 240px;
    height: 600px;
    padding: 10px;
    border: 5px solid gray;
    margin-top: 60px;
    position: absolute;
    left: 100px;
    top: 20px;
}

#map {
    position: relative;
    top: 30px;
    line-height: 45px;
    font-family: "Lucida Console", monospace;
    font-size: 14px;
}

#menu2 {
    width: 220px;
    height: 600px;
    padding: 10px;
    border: 5px solid gray;
    margin-top: 60px;
    position: relative;
    right: 170px;
    top: 20px;
}

#history {
    width: 200px;
    height: 70px;
    padding: 10px;
    position: absolute;
    right: 5px;
    top: 430px;
    margin-top: 60px;
    padding: 1px;
    overflow-y: scroll;
    border: 2px solid gray;
}

#hist {
    position: relative;
    bottom: 15px;
}

@media all and (max-width: 1080px) {
  
select {
    position: relative;
    left: 5px;
    font-size: 30px;
    min-width: 70px;
    height: 50px;
}
  
  .container {
    display: flex;
    background: #b1ad84;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    max-width: 80%;
    max-height: 70%;
    border-radius: 2%;
    margin: auto;
    font-size: 30px
}
  
}
    position: relative;
    right: 160px;
    top: 50px;
}

select {
    position: relative;
    left: 5px;
    font-size: 30px;
    min-width: 70px;
    height: 50px;
}

#save {
  position: relative;
  right: 70px;
  top: 60px;
  font-size: 25px;
  width: 140px;
  height: 60px;
}

@media all and (max-width: 1080px) {
  
select {
    position: relative;
    left: 5px;
    font-size: 30px;
    min-width: 70px;
    height: 50px;
}
  
  .container {
    display: flex;
    background: #b1ad84;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    max-width: 80%;
    max-height: 70%;
    border-radius: 2%;
    margin: auto;
    font-size: 30px
}
  
}

