* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
    --grid-cols: 1;
    --grid-rows: 1;
}

#container {
    display: grid;
    row-gap : 0px;
    column-gap: 0px;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    position: absolute;
    left: 370px;
    top: 75px;

}

.grid-item {
    width: 20px;
    height: 20px;
    border: .1px solid #C0C0C0;
    text-align: center;
    font-size: 12px;
}


.ext {
    font-family: "Lucida Console", monospace;
}


#player {
  padding: 0px;
}

form {
    position: relative;
    right: 50px;
    top: 50px;
}

select {
    position: relative;
    bottom: 40px;
    left: 50px;
    font-size: 30px;
    min-width: 70px;
    height: 50px;
}

#save {
    position: relative;
    left: 2px;
    top: 130px;
    font-size: 25px;
    width: 70px;
    height: 40px;
    margin: 0;
    font-family: "Lucida Console", monospace;
}

#btn {
    position: relative;
    left: 2px;
    top: 130px;
    font-size: 25px;
    width: 70px;
    height: 40px;
    margin: 0;
    font-family: "Lucida Console", monospace;
}

#menu1 {
    width: 240px;
    height: 600px;
    padding: 10px;
    border: 5px solid gray;
    margin-top: 60px;
    position: absolute;
    left: 100px;
    top: 20px;
}

#map {
    position: relative;
    top: 30px;
    line-height: 45px;
    font-family: "Lucida Console", monospace;
    font-size: 14px;
}

#menu2 {
    width: 220px;
    height: 600px;
    padding: 10px;
    border: 5px solid gray;
    margin-top: 60px;
    position: absolute;
    left: 1000px;
    bottom: 80px;
}

#history {
    width: 195px;
    height: 150px;
    padding: 10px;
    position: absolute;
    right: 5px;
    top: 350px;
    margin-top: 60px;
    padding: 1px;
    overflow-y: scroll;
    border: 2px solid gray;
}

@media all and (max-width: 1080px) {

    select {
        position: relative;
        left: 5px;
        font-size: 30px;
        min-width: 70px;
        height: 50px;
    }
}


